<!--postDetails is set in the postView.js-->
{{#postDetails}}
<div class="post-details">
    <article id="post">
        <h3 class="title">{{title}}</h3>
        <p class="subtitle">Created on {{date}} by {{author}}</p>
        <!--<p class="content">{{content}}</p>-->
        <textarea class="content-display" title="Use mouse wheel to scroll down the whole text." disabled>{{content}}</textarea>
    </article>
    <img class="image" src="{{image}}" style="border-radius: 10px" alt=" " width="400" height="300">
    <br>  <br>
    <ul class="border">
        <li><b>Phone:</b> {{phone}}</li>
        <li>Email:</b> {{email}}</li>
        <li>Tag</b>: {{tag}}</li>
        <li>Price</b>: {{price}}</li>
    </ul>
    <br><br>
    <div style="float:left; margin-left: 1%; margin-right: 2px">
        <a href="#/home"  class="cancelbtn2" >Home</a>
    </div>
    <br>
    <article style="padding: 30px ">
    </article>
    <h4 align="center">This sale was viewed <span class="label teal">{{views}}</span> times.</h4>

</div>
{{/postDetails}}

<p align="left" style="margin-left: 5%; margin-right: 2px; margin-bottom: 7px; color: #468847; font-weight: bold; font-size: 21px">Comments: </p>


{{#postComments}}
<div style="padding-left: 17px">
    <blockquote class="blockquote">
        <p  style="font-weight: bold; margin-left: 17px; margin-bottom: 7px">{{comment_author}}</p>
        <p  style="color: #919873; margin-left: 37px; margin-bottom: 12px; font-size: 14px">{{comment_date}}</p>
        <p  style="color: #41649c; margin-left: 17px;  margin-bottom: 3px;">"{{comment_content}}" </p>
    </blockquote>
</div>
<br>
{{/postComments}}

<!--<div>-->
<!--<blockquote><b>Phone:</b> {{phone}}</blockquote>-->
<!--<b>Email:</b> {{email}}<br>-->
<!--<b>Tag</b>: {{tag}}<br>-->
<!--</div>-->
<!--<br>-->