<div class="new-post-block">
    <h2 id="editor-title">edit sale post</h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form-type-one">
                <h1 class="title-form">Sale Post Title:</h1>
                <input type="text" value="" placeholder="Title" id="title" />
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Author:</h1>
                <input type="text" value="" placeholder="Author" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">Content:</h1>
        <textarea class="content-field" placeholder="Content" id="content"></textarea>
        <br>
        <span style="margin-left: 50px;" >Choose a tag</span>
        <select id="tag">
            <option id="choose-option" value="-------">-------</option>
            <option id="book-option" value="E-reader">E-reader</option>
            <option id="software-option" value="Software">Software</option>
            <option id="laptop-option" value="Laptop">Laptop</option>
        </select>
        <br>
        <!--<button type="button" id="edit-post-request-button">Edit Post</button>-->
        <!--<a href="#/home" class="cancelbtn">Cancel</a>-->
        <!--<ul class="title-author">-->
            <!--<li class="single-element-form-type-one">-->
                <!--<h1 class="title-form">Email:</h1>-->
                <!--<input type="text" value="" placeholder="Author" id="email">-->
            <!--</li>-->
            <!--<li class="single-element-form">-->
                <!--<h1 class="title-form">Phone number:</h1>-->
                <!--<input type="text" value="" placeholder="Author" id="phone">-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul class="title-author">-->
            <!--<li class="single-element-form-type-two">-->
                <!--<h1 class="title-form">Image link:</h1>-->
                <!--<input type="text" value="" placeholder="Image link" id="image" />-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="title-author">
            <li class="single-element-form-type-one">
                <h1 class="title-form">Email:</h1>
                <input type="email" value="" placeholder="Author" id="email" title="This field is mandatory, please enter valid email address." required />
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Phone number:</h1>
                <input type="tel" value="" placeholder="Author" id="phone"  title="Please fill an appropriate phone number." />
            </li>
            <li class="single-element-form-type-one">
                <h1 class="title-form">Image link:</h1>
                <input type="url" value="" placeholder="Image link" id="image"  title="Please use valid URL for your photo image." />
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Price:</h1>
                <input type="text" value="" placeholder="Price" id="price" title="Please put an appropriate price." />
            </li>
        </ul>
        <div style="float:left; margin-left: 40%; margin-right: 10px">
            <a href="#" class="actionbtn" id="edit-post-request-button" >Edit Sale</a>
        </div>
        <div style="float:left">
            <a href="#" class="cancelbtn" id="edit-post-cancel-button">Cancel</a>
            <!--<a href="#/home" class="cancelbtn" >Cancel</a>-->
        </div>
        <br><br><br><br><br>
    </form>
</div>

<footer>
    <p class="footer-text">&copy; Software Development Project, 2018</p>
</footer>