<header class="blog-title">
    login
</header>

<div class="user-login-block">
    <form>
        <h1 class="form-title">User login email:</h1>
        <input type="text" value="market@java.com" placeholder="Enter User login email" id="username"/>
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" placeholder="Enter password" id="password">
        <br>
        <button type="button" id="login-request-button">Login</button>
        <br>
        <a href="#/register">Register here</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#/home">Cancel</a>
        <!--buttons on one line with space between them:-->
        <!--<div style="float:left; margin-right: 10px">-->
            <!--<a href="#/home" class="cancelbtn">Cancel</a>-->
        <!--</div>-->
        <!--<div style="float:left">-->
            <!--<a href="#/home" class="cancelbtn">Cancel</a>-->
        <!--</div>-->
    </form>

</div>




<footer>
    <p class="footer-text">&copy; Software Development Project, 2018</p>
    <p class="footer-text">Project revision: 2020 </p>
</footer>