{{#blogPosts}}
<li class="single-post">
    <article id="post-{{postId}}">
        <div class="dot">&nbsp;</div>
        <h3 class="title"><a href="#/post/{{_id}}" class="links-header">{{title}}</a></h3>
        <!--<h3 class="title">{{title}}</h3>-->
        <p class="subtitle">Created on {{date}} by {{author}}</p>
        <p class="content">{{content}}</p>
        <br>
        <div class="tag">
            <span style="font-weight:bold">Tag:&nbsp;  </span>
            <a href="#/tag/?tag={{tag}}" class="tagbtn">{{tag}}</a>
        </div>
    </article>
</li>
{{/blogPosts}}