{{#nameOfTag}}
<!--nameOfTag is set in the postView.js-->
<article id="tagName">
    <h2 class="page-title">List of {{tagN}} sales</h2>
</article>
{{/nameOfTag}}
{{#sortedPosts}}
<!--sortedPosts is set in the postView.js-->
<div class="tag">
     <article id="post">
         <!--we have to clear the float:left actions -->
         <p style="clear: left; "><small></small></p>
         <div class="dot">&nbsp;</div>
         <h3 class="title"><a href="#/post/{{postId}}" class="links-header">{{title}}</a></h3>
         <p class="subtitle">Created on {{date}} by {{author}}</p>
         <p class="content">{{content}}</p>
         <br>
         <div class="tag">
             <span style="font-weight:bold">Tag:&nbsp;  </span>
             <a href="#/tag/?tag={{tag}}" class="tagbtn">{{tag}}</a>
         </div>
         <!--<div style="float:left; margin-left: 3%; margin-right: 10px">-->
             <!--<a href="#/edit/post/?id={{_id}}" class="tealbtn" >Edit Sale Post</a>-->
         <!--</div>-->
         <div style="float:left;  margin-right: 10px; padding-left: 33px">
             <a href="#/post/{{postId}}" class="tealbtn1" >Details</a>
         </div>
     </article>
</div>
<br />
{{/sortedPosts}}