<header id="register-title" class="blog-title">
    register
</header>

<div class="user-login-block">
    <form class="user-register">
        <h1 class="form-title">User login email:</h1>
        <input type="text" value="" placeholder="Enter User login email" id="username" />
        <!--This field is not used in Firebase, but left for future possible implementation, to be used, as in Kinvey -->
        <h1 class="form-title">Full Name:</h1>
        <input type="text" value="" placeholder="Enter Full Name" id="full-name" />
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" placeholder="Enter password" id="password" />
        <h1 class="form-title">Confirm Password:</h1>
        <input type="password" value="" placeholder="Re-Enter password" id="pass-confirm" />
        <br>
        <button type="button" id="register-request-button">Register</button>
    </form>
    <a href="#/login">Login here</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#/home">Cancel</a>
</div>

<footer>
    <p class="footer-text">&copy; Software Development Project, 2018</p>
    <p class="footer-text">Project revision: 2020 </p>
</footer>