<header class="pagetwo-title">
    <h3>Sales Chart</h3>
</header>
{{#postDetails}}
   <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
{{/postDetails}}
<br>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    // script for the financial brent chart
    new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "TVC:UKOIL",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "Light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "hideideas": true,
                "container_id": "tradingview_504bd"
            }
    );
</script>
<script>
    // for collapsible button
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<button class="collapsible">Brent price chart</button>
<div class="content-chart">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_504bd"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/TVC-UKOIL/" rel="noopener" target="_blank"><span class="blue-text">UKOIL</span> <span class="blue-text">chart</span> by TradingView</a></div>

    </div>
    <!-- TradingView Widget END -->
</div>
<br><br><br>
<footer>
    <p class="footer-text">&copy; Software Development Project, 2018</p>
    <p class="footer-text">Project revision:, 2020</p>
</footer>
